<footer id="footer">
    <div class="container-fluid">
        <p>© Copyright 2022 Final Project - 953262.<br> Intouch Khurwong and Wanatchaya Kaewwongwan.</p>
    </div>
</footer>
<script src="/nav.js"></script>
</body>
</html>