<%- include("partials/header") -%> 
<body>
    <div class="contact-bg"></div>
    <div class="about-text-head">
        CONTACT US
    </div>
    <div class="text-col">
        <div class="row">
            <div class="col-sm">
                <div class="text-pane">
                    <div class="icon icon1-contact">
                        <i class='fab fa-facebook'></i>
                    </div>
                    <a href="https://www.facebook.com">Saccherine The Restaurant</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="text-pane">
                    <div class="icon icon2-contact">
                        <i class='fab fa-instagram'></i>
                    </div>
                    <a href="https://www.instagram.com/">@thesaccherine</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="text-pane">
                    <div class="icon icon3-contact">
                        <i class="fas fa-phone"></i>
                    </div>
                    <a href="tel:+6689245789">+66 89 245 789</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="map">
        <div class="map-head">
            OUR LOCATION
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3776.9482656161936!2d98.94821451544829!3d18.800458765459762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da3a6bf542deb3%3A0x85fbac3033920444!2sCollege%20of%20Arts%2C%20Media%20and%20Technology%2C%20Chiang%20Mai%20University!5e0!3m2!1sen!2sth!4v1645728793057!5m2!1sen!2sth" width="1600" height="650" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <hr>
<%- include("partials/footer") -%> 