<%- include("partials/header") -%> 

<section id="intro">
    <div class="container-fluid">
        <div class="head-intro" data-aos="flip-up">
            THE SACCHERINE
        </div>
        <div class="head-desc" data-aos="flip-up">
            Restaurant & Bar
        </div>
        <div class="head-btn" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <a class="button button1" href="/table">Order NOW!</a>
        </div>
    </div>
</section>

<%- include("partials/footer") -%> 