<%- include("../partials/header") -%> 

<section id="chefs-table">
    <div class="container-fluid">
        <div class="chefs-table-head2">
            SIGN IN SUCCESSFUL
        </div>
        <div class="check-icon">
            <img src="../img/sign-check-icon.png" alt="check-icon" width="220px">
        </div>
        <div class="col chefs-btn-table">
            <div class="btn-center">
                <form action="/chefsControls" method="get">
                    <div class="chefs-table-head">
                        WELCOME BACK CHEF!<br><span class="arrow">↓</span><br>
                    </div>
                    <button class="button-64" role="button"><span class="text">ENTER TO CONTROLER</span></button>
                </form>
            </div>
        </div>
    
    </div>
</section>

<%- include("../partials/footer") -%> 